[*]
charset=utf-8
end_of_line=lf
insert_final_newline=false
indent_style=space
indent_size=2

[{messages.*,org.codehaus.groovy.runtime.ExtensionModule,spring.handlers,spring.schemas,messages,*.properties}]
indent_style=space
indent_size=4

